<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Demo Webpage using Flask Docker and Redis{% block title %}{% endblock %}</title>
    <!-- meta -->
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- styles -->
    {{ bootstrap.load_css() }}
    <link href="{{url_for('static', filename='main.css')}}" rel="stylesheet" media="screen">
    {% block css %}{% endblock %}
  </head>

  <body>

    <div class="container">
      <!-- child template -->
      {% block content %}{% endblock %}
    </div>

    {% include 'footer.html' %}
  </body>

</html>
